*{
    margin: 0;
    padding: 0;
}
.body{
    height: 100vh;
    width: 100%;
}
.logo{
    display: flex;
    justify-content: center;
    color:black;
    font-size: 60px;
}
.navbar{
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 15px;
}
.navbar ul li a{
    text-decoration: none;
    color:black;
}
.lampbilder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.golv img{
    width: 310px;
    height: 410px;
    margin-top: 60px;
    margin-left: 30px;
}
.golvbild img{
    width: 310px;
    height: 410px;
}
.golvbild{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tak img{
    width: 310px;
    height: 410px;
    margin-top: 60px;
}
.takbild img{
    width: 310px;
    height: 410px;
}
.takbild{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lamptext{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bord img{
    width: 310px;
    height: 410px;
    margin-top: 60px;
    margin-right: 30px;
}
.bordsbild img{
    width: 310px;
    height: 410px;
}
.bordsbild{
    display: flex;
    justify-content: center;
    align-items: center;
}